<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.homannh.appone">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/bimbohead"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.homannh.gps.GPSActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.homannh.dsd.activity.DSDActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.homannh.dsd.activity.DSDMainMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.homannh.camera.CameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.homannh.dsd.activity.ArloActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.homannh.dsd.activity.DSDMiscMenuActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.example.homannh.dsd.activity.ArloListViewActivity" />
        <activity android:name="com.example.homannh.dsd.activity.ListViewClickedActivity" />
        <activity android:name="com.example.homannh.dsd.activity.MarketListViewActivity" />
        <activity
            android:name="com.example.homannh.dsd.activity.ScannerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.homannh.dsd.activity.DialogBoxActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.homannh.dsd.activity.HHActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.example.homannh.dsd.activity.ProductListViewActivity" />
        <activity android:name="com.example.homannh.dsd.activity.SODActivity"></activity>
    </application>

</manifest>